@import './base.css';

html {
  font-size: 62.5%;
}

@layer components {
  .header--section {
    @apply flex flex-col h-screen;
  }

  .nav_items {
    @apply flex items-center px-[3rem] justify-between h-[6rem] w-full lg:px-[6rem] z-[100];
  }

  .nav_link {
    @apply block text-[1.1rem] font-normal hover:py-[.8rem] hover:px-[2.5rem] hover:rounded-xl text-[#222] hover:bg-primary hover:text-white transition-all;
  }

  .nav_linkW {
    @apply block text-[1.1rem] font-normal hover:py-[.8rem] hover:px-[2.5rem] text-[#222] hover:rounded-xl hover:bg-primary hover:text-white transition-all;
  }

  .nav_link--btn {
    @apply block text-[1.1rem] font-normal bg-primary py-[.8rem] px-[2.5rem] rounded-xl text-white hover:bg-secondary duration-200;
  }

  .outline--btn {
    @apply text-[1.1rem] font-normal border border-outlinePri py-[.8rem] px-[3rem] rounded-xl text-outlinePri hover:text-white hover:bg-outlinePri duration-200;
  }

  .header_section {
    @apply max-w-[135rem] grid lg:grid-cols-2 gap-3 items-center my-auto md:px-[6rem];
  }

  .section {
    @apply w-full smi:max-w-[54rem] md:max-w-[72rem] lg:max-w-[96rem] slg:max-w-[111rem] mx-auto px-[.75rem];
  }

  .section_container {
    @apply grid grid-cols-2 items-center justify-center gap-16;
  }

  .avaters {
    @apply my-8 flex ml-4 items-baseline;
  }

  .avater {
    @apply w-[4.84rem] h-[5rem] rounded-full -ml-4;
  }
}

.title::after {
  content: '';
  width: 12%;
  height: 4px;
  background: #f7c35f;
  display: block;
}

.section__5 {
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.sect__image {
  background-image: url(/assets/about_section.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40.4rem;
}

.section_service {
  /* position: absolute; */
  right: 6rem;
  display: flex;
  gap: 30px;
}

.service_content--1 {
  background-image: url(/assets/service_farmci.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  border-radius: 30px;
  position: relative;
}

.service_content--2 {
  background-image: url(/assets/service_payci.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  border-radius: 30px;
  position: relative;
}

.service_content--image {
  background-image: url(/assets/why_farm.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 68.4rem;
}

.icons__items {
  display: flex;
  justify-content: space-between;
  width: 100rem;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.section_bg {
  background-image: url(/assets/aim_section.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 694px;
}

.header--section {
  background-image: url(/assets/hero_section.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section--hidden--overlay {
  display: none;
  opacity: 0;
  transform: translateY(8rem);
}

#section,
.navOverlay {
  transition:
    transform 1s,
    opacity 1s;
}

.sticky {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rbga(0, 0, 0, 0.15);
  width: 100%;
  z-index: 100;
}

.list ul {
  position: fixed;
  top: 82px;
  right: -100%;
  height: 100vh;
  width: 300px;
  background: #80011f;
  z-index: 100;
  transition: all 0.5s;
}
